In [8]:
import pandas as pd

from src.data.data_loader import DataLoader
from src.data.preprocessor import Preprocessor

# Load files
data_loader = DataLoader()

orders = data_loader.load_raw_file('orders')

In [9]:
prior = orders[orders.eval_set == 'prior']
train = orders[orders.eval_set == 'train']
test = orders[orders.eval_set == 'test']

In [10]:
print("Prior:" + str(len(prior)))
print("Train:" + str(len(train)))
print("Test:" + str(len(test)))

Prior:3214874
Train:131209
Test:75000

In [12]:
train.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
10,1187899,1,train,11,4,8,14.0
25,1492625,2,train,15,1,11,30.0
49,2196797,5,train,5,0,11,6.0
74,525192,7,train,21,2,11,6.0
78,880375,8,train,4,1,14,10.0

In [13]:
last = orders[orders.eval_set != "prior"]

In [61]:
#next_to_last = prior[(prior.user_id == last.user_id) & (prior.order_number == last.order_number - 1)]
tmp = last[["user_id", "order_number"]]
tmp.order_number = tmp.order_number - 1
tmp.columns = ["user_id", "next_to_last_order_number"]

C:\Users\micro\Anaconda3\envs\tf\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [63]:
x = pd.merge(prior, tmp, on="user_id", how="left")

In [64]:
x.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,next_to_last_order_number
0,2539329,1,prior,1,2,8,NaN,10
1,2398795,1,prior,2,3,7,15.0,10
2,473747,1,prior,3,3,12,21.0,10
3,2254736,1,prior,4,4,7,29.0,10
4,431534,1,prior,5,4,15,28.0,10

In [66]:
next_to_last_orders = x[x.order_number == x.next_to_last_order_number]

In [67]:
len(next_to_last_orders)

206209